#VARUN KUMAR 
#SIMPLE PREDICTION TASK 
#LINEAR REGRESSION

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('student_scores - student_scores.csv')

In [3]:
df

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [4]:
x=df['Hours']
y=df['Scores']

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
lm =LinearRegression()

In [11]:
from sklearn.model_selection  import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=101,test_size=0.25)

In [18]:
x_train = x_train.values.reshape(-1, 1)
x_test = x_test.values.reshape(-1, 1)

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [20]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [22]:
predictions = lm.predict(x_test)

In [24]:
predictions

array([27.1673772 , 77.3333132 , 39.7088612 , 74.43912458, 56.10926335,
       49.35615658, 33.92048397])

In [30]:
lm.predict([[9.5]])

array([94.69844489])